@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&display=swap");

:root {
  --textPrimary: #000;
  --bgPrimary: #fff;
  --bgSecondary: #f9f9f9;
  --blue: #0071bd;
  --lightBlue: #e6f7ff;
  --border: #d9d9d9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded", sans-serif;
  font-size: 16px;
}
